.card {
    display: grid;
    place-items: center;
    cursor: pointer;
}
.card-body {
    display: grid;
    gap: 1rem;
}
.card:hover {
    transform: scale(1.05);
    transition: 0.1s ease;
}